:root {
  --background-color: #00000080;
  --white-color: #ffffff;
  --whitetile-color: #f0ffff;
  --gray-color: #808080;
  --ligthgray-color: #707070;
  --darkgray-color: #333333;
  --red-color: #e50914;
  /*tipografia*/
  --text: 3.2rem;
  --text-font: 1.5rem;
  --textfont-line: 1.4rem;
  --textfont-input: 1rem;
  --textefont-login: 1.3rem;
  --textfont-hover: 1.2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

/* background con opacidad */
html {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-size: 62.5%;
}
/* regla para la opacidad del fondo para super poner los demas elementos agregar position: relative*/
html::before {
  content: '';
  position: absolute;
  background-color: var(--background-color);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: relative;
}
.header__img {
  margin-left: 40px;
  width: 167px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
  position: relative;
}
.login h2 {
  /* margin-top: 40px; */
  font-size: var(--text);
}
.login__container {
  border-radius: 4px;
  color: var(--white-color); /* color de letra*/
  padding: 60px 68px 40px;
  min-height: 660px;
  width: 450px;
  display: flex;
  /* justify-content: space-around; provisional */
  flex-direction: column;
}
/* opcidad para el formulario y el footer */
.login__wrapper,
.footer__wrapper {
  background-color: var(--background-color);
}

.login__container--form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 60px;
}

form .group {
  position: relative;
}

/* animacion y ajustes del label */
.login__container--form label {
  font-size: var(--textfont-line);
}
.label {
  position: absolute;
  top: 16px;
  left: 20px;
  transition: 0.3s ease-in-out all;
  pointer-events: none;
}
input:focus ~ label,
input:valid ~ label {
  top: 5px;
  font-size: 1rem;
  color: var(--ligthgray-color);
}

/* fin de la animacion */

.input {
  background-color: var(--darkgray-color);
  border: none;
  color: var(--white-color);
  border-radius: 4px;
  font-size: var(--text-font);
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
  width: 100%;
  display: block;
}

.input:focus {
  outline: none;
  color: var(--white-color);
}
::placeholder {
  color: var(--white-color);
}

.button {
  background-color: var(--red-color);
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  cursor: pointer;
  font-size: var(--text-font);
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
  outline: none;
}

.login__container--remember-me {
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: var(--textefont-login);
}
.login__container--remember-me label {
  font-size: inherit;
}
.login__container--remember-me a {
  color: var(--gray-color);
  font-size: inherit;
  text-decoration: none;
}

.login__container--remember-me a:hover {
  color: var(--white-color);
  font-size: var(--textfont-hover);
  text-decoration: underline;
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: var(--textfont-line);
  margin-bottom: 10px;
}
.login__container--social-media > div > img {
  width: 20px;
  margin-right: 10px;
}

.login__container--register {
  font-size: var(--text-font);
}

.login__container--register a {
  color: var(--white-color);
  font-size: var(--text-font);
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.login__container--form,
.login__container--remember-me,
.login__container--social-media,
.login__container--register {
  color: var(--gray-color);
}

.footer {
  width: 100%;
  height: 240px;
  color: var(--whitetile-color);
  margin-top: 80px;
}
.footer__container {
  max-width: 1000px;
  margin: 0 16%;
  padding: 30px 0 0 0;
}
.footer__container p {
  font-size: var(--text-font);
}
.footer__container ul {
  display: flex;
  flex-wrap: wrap;
}
.footer__container ul li {
  list-style: none;
  text-align: left;
  font-size: var(--textefont-login);
  padding-top: 20px;
}
.footer__container ul li a {
  color: var(--gray-color);
  text-decoration: none;
}
.footer__container ul li a:hover {
  text-decoration: underline;
}

.links__items {
  width: 25%;
  display: inline-block;
  position: relative;
}
.footer__container > div > label > img {
  width: 20px;
  margin-right: 10px;
}

.footer__idioms {
  border: 1px solid var(--gray-color);
  border-radius: 4px;
  padding: 10px;
  display: inline-flex;
  margin-top: 30px;
  align-items: center;
  position: relative;
}

.footer__idioms label {
  margin-right: 5px;
}
/* media querys responsive*/
@media only screen and (max-width: 740px) {
  .login {
    min-height: calc(90vh - 240px);
    border-bottom: 1px solid #525252;
  }
  .login__wrapper {
    width: 100%;
    min-height: 100%;
    background-color: transparent;
    border: none;
    padding: 0px;
  }
  .login,
  .header,
  .footer {
    background-color: #000;
  }
  .footer {
    margin-top: 0;
  }
  .footer__container {
    margin: 0 5%;
  }
  .links__items {
    width: 33%;
  }
}
